<!DOCTYPE html>
{% extends 'index_page.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card" style="">
                    <font color="black">
                  <div class="card-body">
                      {% for i in pro %}
                    <h4 class="card-title" style="color:red">Add Product</h4>
                    <p class="card-description">WELCOME</p>
                    <form class="forms-sample" method="post" action="{% url 'update_product02' pro_id=i.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Product Category</label>
                                                                <div class="col-sm-10">
                                                                    <select name="pcat" class="form-control fill">
                                                                        <option value="opt1">Select</option>
                                                                        {% for i in cat %}
                                                                        <option >{{i.cname}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                        <br>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input value="{{i.pname}}" type="text" class="form-control" id="exampleInputName1" placeholder="" name="pname">
                      </div><br>
                         <div class="form-group">
                        <label for="exampleInputName1">Product Price</label>
                        <input value="{{i.pprice}}" type="number" class="form-control" id="exampleInputName1" placeholder="" name="pprice">
                      </div><br>
                         <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="pdescription">{{i.pdescription}}</textarea>
                      </div><br>
                      <div class="form-group">
                        <label for="exampleInputCity1">IMAGE</label>
                          <img src="{{i.pimage.url}}">
                        <input type="file" class="form-control" id="exampleInputCity1" placeholder="Location" name="pimage">
                      </div><br><br>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                        {% endfor %}
                    </form>
                  </div>
                </div>
              </div>


</body>
</html>
{% endblock %}